.cardCalculator
    width: 350px
    height: 290px
    background-color: #fff
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 25px
    border-radius: 20px
    margin: auto
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1)
    .result
        height: 80px
        width: 100%
        justify-content: end
        align-items: center
        .number
            color: #8A8A8A
            font-size: 50px
            font-style: normal
            font-weight: 700
            line-height: normal
    .inputsCalculator
        width: 100%
        height: 36px
        margin-top: 10px
        display: flex
        flex-direction: row
        justify-content: space-around
        align-items: center
        .inputCal
            width: 48%
            height: 100%
            background-color: #fff
            border: .5px solid #CDF9F9
            border-radius: 5px
            padding: 15px
            &:hover, &:active, &:focus
                outline: none
                border: none
                color: #58F7F7
    .buttons
        margin-top: 10px
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        height: 80px
        width: 100%
        .button
            width: 62px
            height: 62px
            color: #58F7F7
            &:hover, &:active, &:focus
                outline: none
                border: none
                color: #58F7F7
